<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo.css">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
        <header>
            <div class="flex">
                
            <div class="alinear">
                <div class="logo"><img src="images/logo-mercado-liebre.svg">
                </div>
                <form id="search-bar" action="">
                    <input type="text" placeholder="Buscar...">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
                
               </div>
               <div class="quota">
                   <p ><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</p>
               </div>
            </div>
            
        <nav>
            <ul id="top-list">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul id="ingresa">
                <li><a href="http://localhost:3040/register">Crea tu cuenta</a> <i class="far fa-address-card"></i></li>
                <li><a href="http://localhost:3040/login">Ingresa</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main class="register-main">
     <div class="register-box">
         <input type="text" name="" id="" placeholder="Nombre y apellido">
     </div>
     <div class="register-box">
         <form action="">
            <input type="email" name="" id=""placeholder="Nombre de Usuario" required>
         </form>
     </div>
     <div class="register-box">
         <input type="text" name="" id=""placeholder="E-mail">
     </div>
     <h2>Fecha de nacimiento</h2>
     <div class="register-box">
         <input type="date" name="" id=""placeholder="">
     </div>
     <div class="register-box">
         <input type="text" name="" id=""placeholder="Domicilio">
     </div>
     
     <h2>Perfil de Usuario</h2>
     <div class="register-box-2">
         <input type="radio" name="" id="" value="comprador">
         <label for="Comprador">Comprador</label>
         <input type="radio" name="" id="" value="Vendedor">
         <label for="Comprador">Vendedor</label>
     </div>
     <h2>Intereses</h2>
     <div class="register-box-3">
         <div class="cajita">
            <input type="checkbox" name="Interes" id="" value="Electro">
            <label for="">Electro</label>
         </div>
         <div class="cajita">
            <input type="checkbox" name="Interes" id="" value="Moda">
            <label for="">Moda</label>
         </div>
         <div class="cajita">
            <input type="checkbox" name="Interes" id="" value="Hogar">
            <label for="">Hogar</label>
         </div>
         <div class="cajita">
            <input type="checkbox" name="Interes" id="" value="Juguetería">
            <label for="">Juguetería</label>
         </div>
         <div class="cajita">
            <input type="checkbox" name="Interes" id="" value="Vida sana">
            <label for="">Vida sana</label>
         </div>
         
     </div>
     <h2 class="">Foto de Perfil</h2>
         <div class="cajita">
            <img src="images/img_avatar.png" alt="Avatar" class="avatar" style="max-width: 15%;">
            <img src="images/img_avatar2.png" alt="Avatar" class="avatar" style="max-width: 15%;">
         </div>
         <div class="cajita-2"> 
            <input type="file" multiple accept="image/png, image/jpeg">
         </div>
     <div class="register-box">
        <input type="password" name="registro" id="" placeholder="Contraseña">
    </div>
     <div class="register-box">
        <input type="password" name="reset" id="reset" placeholder="Repetir Contraseña">
    </div>
    <div class="botonera">
        <button type="reset" class="button-register">Borrar</button>
     </div>
    <div class="botonera">
        <a href="http://localhost:3040"><p>Enviar</p></a>
     </div>

    </main>
    <footer>
        
        <article class="footer.article">
            <i class="fas fa-credit-card"></i>
            <h5>Pagá con tarjeta o en efectivo</h5>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="footer.article">
            <i class="fas fa-gift"></i>
            <h5>Envío gratis desde $ 2.500</h5>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="footer.article">
            <i class="fas fa-user-shield"></i>
            <h5>Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </article>
       
    </footer>
    <p class="copy">Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</p>
</body>
</html>